body{
    margin: auto;
    background-color: lavenderblush
}
.maindiv{
    padding-top: 5px;
    height: 95%;
    width: 40%;
    background-color: powderblue;
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
.subdiv{
    margin: 15px;
    padding: 0%;
    border-radius: 8px;
    margin-top: 6%;
    background-color: lavender;
    height: 23%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    text-align: center
}

#image{
    width: 75%;
    margin-left: 0%;
    height: 68%;
}
#subimage{
    width: 12%;
    height: 12%;
    float: left;
    padding: 0px
}
#subimage1{
    width: 12%;
    height: 12%;
    float: right;
    padding: 0px
}